In [1]:
numList = [37,59,-1,20,2,88,-3,59,50,73]

In [2]:
numList

[37, 59, -1, 20, 2, 88, -3, 59, 50, 73]

In [3]:
numList.index(50)

8

In [4]:
numList.index(77)

ValueError: 77 is not in list

### Linear Search 
just starts at one end of list and looks at each item sequentially. Simple to understand. No assumptions about the list.

Best Case: run once
Worse Case: run n times
Average Case: run n/2 times

Complexity = O(n)

### Binary Search

Input must be sorted.

Look in middle - determine which half to continue searching in. Eliminates one half in first comparison.

Complexity = O(lg n)

0	1	2	3	4	5	6	7	8
5	12	17	23	38	44	77	84	90

5 is low, 38 is mid, and 90 is high

38 < 44 â†’ low = mid + 1 = 5

In [8]:
import numpy as np
a = np.arange(12).reshape(3, 4)
a

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [11]:
rows_on = np.array([True, False, True])
a[rows_on , : ]      # Rows 0 and 2, all columns

array([[ 0,  1,  2,  3],
       [ 8,  9, 10, 11]])

In [12]:
import pandas as pd

Some commonly used data structures in pandas are:

* Series objects: 1D array, similar to a column in a spreadsheet
* DataFrame objects: 2D table, similar to a spreadsheet
* Panel objects: Dictionary of DataFrames, similar to sheet in MS Excel

In [14]:
people_dict = { "weight": pd.Series([68, 83, 112],index=["alice", "bob", "charles"]),   
               "birthyear": pd.Series([1984, 1985, 1992], index=["bob", "alice", "charles"], name="year"),
               "children": pd.Series([0, 3], index=["charles", "bob"]),
               "hobby": pd.Series(["Biking", "Dancing"], index=["alice", "bob"]),}

In [15]:
people = pd.DataFrame(people_dict)
people

         weight  birthyear  children    hobby
alice        68       1985       NaN   Biking
bob          83       1984       3.0  Dancing
charles     112       1992       0.0      NaN